@use "sass:string";

@use "variables";


@mixin flex($direction: row, $justify-content: center, $align-items: center) {
    display: flex;
    flex-direction: $direction;
    justify-content: $justify-content;
    align-items: $align-items;
}

@mixin transition($properties...) {
    transition: all variables.$transition-timing variables.$transition-easing;
    /* Overrides the `all` by only transitioning these properties */
    transition-property: getPropertyNames($properties);
}

/* Returns a list of transition property names */
@function getPropertyNames($properties...) {
    $props: "";

    @each $prop in $properties {
        $props: $props + " " + $prop;
    }

    /* Remove the quotes and the leading space */
    @return string.unquote(string.slice($props, 2, string.length($props)));
}