@use "../utils/mixins";
@use "../utils/variables";

@keyframes slide-in {
    0% {
        opacity: 0;
        transform: translateY(50%);
    }
    100% {
        opacity: 1;
        transform: translateY(0%);
    }
}

.index main {
    @include mixins.flex();
    position: relative;
    flex-grow: 1;

    .info-box {
        @include mixins.flex(column);
        position: absolute;
        animation: slide-in 1s ease-in-out;
        animation-fill-mode: forwards;
        color: variables.$text-color;
        background-color: rgba(0, 0, 0, 0.85);
        z-index: 1;
        border-radius: 1rem;
        padding: 3rem;

        h1 {
            font-size: 3rem;
            font-weight: bold;
            margin-bottom: 1rem;
        }

        h2 {
            font-size: 1.25rem;
            font-weight: normal;
            margin-bottom: 3rem;
        }

        a {
            @include mixins.flex();
            @include mixins.transition(color, background-color, border-color);
            font-size: 1.15rem;
            background-color: transparent;
            padding: 0.5rem 2rem;
            border: 1px solid variables.$text-color;
            border-radius: 0.25rem;
            
            &:hover, &:active {
                color: variables.$main-bg;
                background-color: variables.$link-active;
                border-color: variables.$link-active;
            }

            i {
                margin: 5px -5px 0 5px;
            }
        }
    }

    .carousel {
        flex-grow: 1;
        z-index: 0;
        height: calc(100vh - 136px);
    }
}