@use "../utils/mixins";
@use "../utils/variables";

body {
    @include mixins.flex(column, center, stretch);
    background-color: variables.$main-bg;
    min-height: 100vh;

    &.no-scroll {
        max-height: 100vh;
    }
}